*

!/.gitignore
!/README.md
!/index.html
!/zh.html
!/robots.txt
!/sitemap.xml
!/DOSA-LOGO.png
!/DOSA Bricks.xlsx

!/assets/
/assets/*
!/assets/site.css
!/assets/site.js

!/Brick/
!/Brick/*.pdf

!/POL/
!/POL/*.pdf

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
